@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #FFFFFF;
  margin:0;
  color: rgb(100, 100, 100);
}


p {
  font-family: 'Lato', sans-serif;
}

nav {
  font-family: 'Lato', sans-serif;
  position:fixed;
  top: 0;
  bottom:3;
  /*top:20px;
  left:10px;*/
  width:100%;
  background-color: #FF69B4;
  margin-left:20px;
  height: 40px;
}

h1 {
  display:block;
  height: 55px;
  font-family:'Lato', sans-serif;
}

.landingpagehed {
  text-align:center;
  font-size:35px;
  margin-top: 120px;
  width:80%;
  margin:0 auto;}

  /*this is still a work in progress

  .landingpagep {
    text-align:right;
    font-size:10px;
    max-width:750px;
  }
  */


nav ul {
  float:right;
  position:absolute;
  right:2.5%;
  top:30%;
  margin: 0;
  font-family: 'Lato', sans-serif;

}

nav ul li {
  list-style: none;
  display: inline-block;
  text-align: right;
  margin-left:15px;
}

nav ul li a {
  text-decoration:none;
  color:#FFFFFF;
  font-size:15px;
}

nav, main {
  margin: 0 auto;
  width:100%;
  }

.newsprintnav > h1 {
  color:#FFFFFF;
}


  h1 {
    color: #FF69B4;; /*rose*/
  }

  h2 {
    color: #FF69B4;; /*rose*/
  }

  h3 {
    color: #FF69B4;; /*rose*/
  }

  a:hover,
  a:focus {
    color: #C71585; /*rose*/
  }


  a,
  a:active {
  color: #C71585; /* gray */
  }

  a,
  a:active {
    color: #C71585;
  }

  header a.logo {
    text-decoration: none;
    color: inherit;
  }
  header a.logo:hover {
    animation: colorize 3s infinite;
  }

  section ul li {
    list-style:none;
  }

  /*#aboutme div:first-child {
    border-bottom:1px solid black;
    overflow:auto;
  }*/

  #aboutme {
    margin: 0 auto;
    margin-top: 120px;
    width: 80%;
  }

  #aboutme section.about {
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  #aboutme div.me-photo, div.me-text {
    display: inline-block;
    vertical-align: top;
  }

  #aboutme .me-photo {
    width: 50%;
    margin-right: 5%;
  }

  #aboutme .me-photo img {
    width: 100%;
  }

   #aboutme .me-text {
    width: 44%;
  }

   div.info {
    width:100%;
    padding-top: 30vh;
    display:block;
    text-align:center;
    background-color:#FF69B4;
    margin-bottom: 90px;
    height:70vh;
  }

  div.info p {
    color:#FFFFF0;
    line-height:40%;
    font-size:135%;
  }

   div.info > h1 {
    color:#FFFFF0;
    display:block;
    height:20px;
    font-family:'Lato'sans-serif;
    font-size:515%;
    line-height:15%;
  }

  div.info > img {
    margin-bottom:8px;
    height:50px;
  }

  span > img {
    height:40px;
    margin-top:100px;
  }

  #portfolio > div {
    overflow:auto;
    margin-bottom:50px;
    margin-right:30px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  }

  #portfolio > div.row > section > img {
    margin-right:50px;
    width:auto;
  }

  #portfolio > div.description {
    margin-left:30px;
    margin-right:80px;
  }

  #portfolio > div.description > p {
    text-align:left;
    margin-bottom:3px;
    width:70%;
    word-wrap:normal;
  }

  #portfolio > div.description > h2 {
    text-align:left;
    margin-bottom:3px;
    width:70%;
  }


/*  #portfolio > div section:first-child {
    float:left;
  }

  #portfolio > div section:last-child {
    float:right;
  } */

  /* #portfolio > div section:nth-last-child(2){
    float:right;
    margin-bottom:50px;
  } */

  #portfolio div > section > img {
    -webkit-box-shadow: 4px 5px 17px -2px rgba(100,100,100,0.32);
    -moz-box-shadow: 4px 5px 17px -2px rgba(100,100,100,0.32);
    box-shadow: 4px 5px 17px -2px rgba(100,100,100,0.32);
  }

main {
    overflow:auto;
    }

  #col-one, #col-two {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top: 15px;
  }

  #col-one {
      margin-right: 8%;
    }


  /*#col-three {
      float:left;
      width:445px;
      margin-right:20px;
    }

  #col-five {
        float:left;
        width:445px;
      }

  #col-four {
          float:left;
          width:445px;
          margin-right:20px;
        }*/

  /*.single {
    margin:0 auto;
    width:100%;
    float:center;
    /*margin-left:100px;
    margin-right:160px;
  }

  .single-christmas {
    align:center;
    margin:10px auto;
    /*margin-left:50px;
    margin-right:45px;
  }


  .singlewriter {
    margin:10px auto;
    margin-left:100px;
    margin-right:200px;
  }

  .beaconhill {
    max-width:360px;
      width:100%;
  }

  .thankyou {
    max-width:360px;
      width:100%;
  }

  .jeopardy {
    max-width:500px;
    width:100%;
  } */

  .social {
    display:none;
  }

/*  .social img {
    width:23px;
    height:auto;
  } */

  .social li {
    display:none;
  display:inline-block;
  list-style:none;
  margin:3px;
  }

  .social ul {
    display:none;
  padding-left:0px;
  }

  .newsprintnav {
    margin-bottom:100px;
  }

  /*svg {
    margin: 0 auto;
    display: block;
    max-width: 200px;
  }*/

  @keyframes colorize {
    0% {
      color: rgb(167,169,122); /* gray */
    }
    25% {
      color: rgb(0,202,232); /* blue */
    }
    50% {
      color: rgb(234,57,98); /* pink */
    }
    75% {
      color: rgb(201,227,28); /* yellow */
    }
    80% {
      color: rgb(167,169,122); /* gray */
    }
